__pycache__/

# Ignorar contenido pero conservar estructura de carpetas
checkpoints/*
!checkpoints/.gitkeep
Flickr2K/*
!Flickr2K/.gitkeep
images/*
!images/.gitkeep
scaledImages/*
!scaledImages/.gitkeep